[Desktop Entry]
Type=Application
Name=Surface Explorer
Exec=surface-explorer.sh
Icon=icon.png
Terminal=false
Categories=Education;Science;Math;
StartupNotify=true
StartupWMClass=SurfaceExplorer
